{"slaves": {"name": "pass"},
 "webPort": 8010,
 "config": {"slavePortnum": 9989,
            "title": "Arch Sugar",
            "titleURL": "http://github.com/dnarvaez/archsugar",
            "buildbotURL": "http://localhost:8010/"}}
